<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-pending">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Noddle</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/dist/superhero/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/superhero/bootstrap.min.css"
            asp-fallback-href="~/lib/bootswatch/dist/superhero/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
            asp-fallback-href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"
            asp-fallback-test-class="fa" asp-fallback-test-property="font-weight" asp-fallback-test-value="900" />        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav text-center">
          <li class="nav-item"><a class="nav-link" href="@Url.Action("Display", "Clock")"><i class="far fa-clock fa-5x"></i><span class="icon-label">CLOCK</span></a></li>
          <li class="nav-item"><a class="nav-link" href="@Url.Action("Daily", "Calendar")"><i class="far fa-calendar fa-5x"></i><span class="icon-label">CALENDAR day</span></a></li>
          <li class="nav-item"><a class="nav-link" href="@Url.Action("Weekly", "Calendar")"><i class="far fa-calendar-alt fa-5x"></i><span class="icon-label">CALENDAR week</span></a></li>
          <li class="nav-item"><a class="nav-link" href="@Url.Action("Display", "Reminders")"><i class="far fa-bell fa-5x"></i><span class="icon-label">REMINDERS</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-shopping-basket fa-5x"></i><span class="icon-label">ERRANDS</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-map-signs fa-5x"></i><span class="icon-label">STEPS</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-camera-retro fa-5x"></i><span class="icon-label">PHOTOS</span></a></li>
      </ul>
    </div>
  </nav>
    <div class="container-fluid body-content" id="body-content">
        <div class="row">
            @await Html.PartialAsync("_SignInSignOut")
            @await Html.PartialAsync("_Rotator")
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Noddle - Digital Life Organiser - Brain in a Box</p>
       </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/station-clock.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/station-clock.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
